*{ 
    padding: 0; 
    margin: 0; 
    border: 0; 
    text-decoration: none; 
    font-family: Inter;

   } 
    
   :focus,:active{outline: none;} 
   a:focus,a:active{outline: none;} 
    
   nav,footer,header,aside{display: block;} 
    
   :root{ 
    --blue: #10069F; 
    --yellow: #FFD700;
   }  
    
   input,button,textarea{font-family:inherit;} 
    
   input::-ms-clear{display: none;} 
   button{cursor: pointer;} 
   button::-moz-focus-inner {padding:0;border:0;} 
   a, a:visited{text-decoration: none;} 
   a:hover{text-decoration: none;} 
   ul li{list-style: none;} 
   img{vertical-align: top;} 
    
   h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 
    
   html{ 
    scroll-behavior: smooth; 
   }



   body{
    height: 100vh;
    background-color: #000;
    overflow: hidden½;
}


/* HEADER */

.header{
    height: 60px;
    background-color: black;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.logo {
    height: 75px;
    padding: 10px;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    color: #fff;
    font-size: 16px;

}
.element{

    color: #fff;
    font-size: 16px;

}
.login-btn {
    width: 125px;
    height: 50px;
    border-radius: 15px;
    background: #10069F;
    color: #fff;

}

/* MAIN */

.main{
    background-color: #000;
}


.create__card {
    display: flex;
    justify-content: space-between;
    height: 800px;
}
.form__card {
}
.feture__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background: linear-gradient(180deg, rgba(16, 6, 159, 0.64) 6.3%, rgba(0, 149, 255, 0.64) 231.72%);}
.feture__card__title {
    color: #FFF;
font-family: Work Sans;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin-top: 175px;
}
.card {
    margin-top: 50px;
    width: 450px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 20px;
    perspective: 1000px; 
    transition: transform 0.5s ease;
    z-index: 1;
    background-color: #000;
}


.card.color{
    background-image: none!important;
    background-color: #000;
}
.card.img{
    position: relative;
    background-size: contain!important;
    background-color: #000!important;
    background-repeat: no-repeat!important;
    background-position-x: center!important;

}



.card::before{

    position: fixed;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
/*     opacity: 0.7;
 */    border-radius: 20px;
    z-index: -1;

}

.card__front{

}

.card__back {
    display: none;
    /* background-color: #ccc; */ /* Замініть це на колір або стилі, які вам потрібні */
    transform: rotateY(180deg);
    z-index: 1;
}

.card:hover .card__front {
    display: none;
}

.card:hover .card__back {
    display: flex;
    backface-visibility: visible;
}
.card:hover{
    background-image: none!important;
}

.card__back {
    display: flex;
    flex-direction: column;
}

.card__front {
    /*  display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2; */
/*     overflow: hidden; */
}


.card__front,
.card__back {
   /*  width: 100%;
    height: 100%;
    position: absolute; */
    backface-visibility: hidden;
}

.card__front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}



.card:hover {
    transform: rotateY(180deg); 
}
.card__top {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.chip__card {
}
.company__card {
}
.card__middle {
}
.card__number {
    color: #FFF;
font-family: Work Sans;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 6.25px;
text-align: center;
}
.card__bottom {
    color: #FFF;
font-family: Work Sans;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: space-between;
padding: 0px 40px;

margin-top: 50px;
}
.card__fullname {
}
.card__fullname-text {
}
.card__fullname-info {
}
.card__expires {
}
.card__expires-text {
}
.card__expires-number {
}


.black__line {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 450px;
    height: 60px;
    background-color: #404040;
}
.white__line {
    width: 450px;
    height: 50px;   
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.CVV {
    color: #fff;
font-family: Work Sans;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 6.25px;
}

.card__logo {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.image-company {
    width: 100px;
height: 100px;

}



.create__card-form {
    border-radius: 30px;
    background: linear-gradient(220deg, #FFD700 2.19%, #FFAF00 95.99%);
    width: 400px;
    height: 500px;
    padding: 20px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}

.create__card-first{
    display: none;
}
.create__card-first.show{
    display: block;
}
.create-form-title {
}
.create-form-Fullname {
    padding-top: 30px;
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
.create-form-name {
    width: 186px;
height: 42px;
border-radius: 20px;
flex-shrink: 0;
}
.create-form-surname {
    border-radius: 20px;
    width: 186px;
height: 42px;
flex-shrink: 0;
}
.create-form-box-card {
    padding: 40px 0px;
}
.create-form-box-valuta {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}

.USD:hover{
    cursor: pointer;
}
.UAH:hover{
    cursor: pointer;
}
.EUR:hover{
    cursor: pointer;
}
.USD {
    width: 150px;
height: 40px;
background-color: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
}
.UAH {
    width: 150px;
height: 40px;
background-color: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
}
.EUR {
    width: 150px;
height: 40px;
background-color: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
}
.create-form-btn {
    margin-top: 100px;
height: 50px;
    color: #FFF;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
    border-radius: 20px;
background: linear-gradient(267deg, #0095FF 10.17%, #10069F 133.23%);
width: 100%;
}
.create-form-btn-continue {
height: 50px;
width: 100%;
    color: #FFF;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
    border-radius: 20px;
background: linear-gradient(267deg, #0095FF 10.17%, #10069F 133.23%);
}



.create-form-container-company {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box-company-img{
    height: 40px;
}


.box-company {
    width: 100px;
height: 50px;
border-radius: 20px;
background: #060606;
display: flex;
justify-content: center;
align-items: center;
}
.box-company-text {
    color: #FFF;
font-family: Work Sans;
font-size: 25px;
font-style: italic;
font-weight: 600;
line-height: normal;
transition: 0.5s;
}
.box-company.on{
    border: 3px solid #0095FF;
}
.box-company:hover{
    cursor: pointer;
}

.info-btn{
    color: #000000;
}

input{
    padding-left: 10px;
}

.create-form-box-card{
    display: flex;
    justify-content: space-between;
}
.mini-card-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.mini-card-box:hover{
    cursor: pointer;

}

.mini-card {
    width: 105px;
height: 74px;
flex-shrink: 0;
background-color: #000;
border-radius: 20px;
display: flex;

}
.mini-card:nth-child(2){
    border-radius: 20px;
    background: #E1447D;
}
.mini-card-chip {
    width: 12px;
height: 8px;
flex-shrink: 0;
border-radius: 2px;
background: #FFD700;
margin-top: 20px;
margin-left: 15px;
}
.mini-card-img {
    width: 20px;
    height: 20px;
    margin-left: 40px;
    margin-top: 20px;
}

input[type="radio"]{
    border: 0;
}

.--black{
    background-color: #000;
}
.--pink{
    border-radius: 20px;
    background: #E1447D;}
.--white{
    background-color: #fff;
}


.info-btn{
    margin-top: 10px;
    color: #000;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.create__card-second{

    display: none;
    
}
.create__card-second.show{
    display: block;
}

.create__card-second-top{
    display: flex;
    justify-content: space-between;
}

.skip{
}
.back:hover{
    cursor: pointer;
}

.create-form-design {
    display: flex;
    justify-content: space-around;
    display: flex;
    padding: 20px 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
}
.change-color, .change-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 189px;
height: 42px;
flex-shrink: 0;
border-radius: 30px;
justify-content: center;
background: #FFF;
}
.change-color-txt {
    
}
.change-img {
}
.change-img-txt {
}


.card--background{
    width: 67px;
    height: 40px;
    border-radius: 10px;
    background: #000;
    display: flex;
    justify-content: center;

 align-items: center;
}
.background-img{
    width: auto;
    height: 30px;
}
.background-img:nth-child(4){
    width: 100%;
    border-radius: 5px;
}

.change-info-box {
}
.change-color-container {
    display: none;
    opacity: 0.3;
    transition: 0.5s;
}
.change-color-container.show{
    display: block;
    opacity: 1;
}
.change-image-container {
    display: none;
    opacity: 0.3;
    transition: 0.5s;
}
.change-image-container.show{
    display: block;
    opacity: 1;
}

.change-color-title {
    color: rgba(0, 0, 0, 0.70);
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 20px;
}
.change-colors-box {
    display: flex;
    justify-content: space-between;
    
}
.change-mycolor-title{
    padding-top: 20px; 
    color: rgba(0, 0, 0, 0.70);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 20px;}

.input-color{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}
#color-picker::-webkit-color-swatch {
    border-radius: 100%;
  }
.color-choose:nth-child(1){
    width: 67px;
height: 40px;
flex-shrink: 0;
border-radius: 10px;
background-color: #000;
}
.color-choose:nth-child(2) {
    width: 67px;
    height: 40px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 10px;
}
.color-choose:nth-child(3) {
    width: 67px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #E1447D;
}
.color-choose:nth-child(4) {
    width: 67px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #0095FF;
}
.change-color-my {
}
.input-color {
}

/* LOAD */


.mask{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    z-index: 50;
}
.mask.hide{
    display: none;
    
}
.mask img{
    animation: 5s load infinite alternate;
    
}
@keyframes load {
    0%{
        transform: translate(25px);
    }
    100%{
        transform: translate(-25px);

    }
}


