
.mask{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    z-index: 50;
}
.mask.hide{
    display: none;
    
}
.mask img{
    animation: 5s load infinite alternate;
    
}
@keyframes load {
    0%{
        transform: translate(25px);
    }
    100%{
        transform: translate(-25px);

    }
}
